.venv/
.DS_Store
.deepeval/
runs/
tensorboard
__pycache__/
*.pyc
*.pyo
*.bin
observability/langfuse/.env
observability/langfuse.sh
docs/
notebooks/
config/archive/
config/samples/
artifacts/
src/old/
